/*
!/.gitignore

!*.md

!/.gitignore

!/wp-content/
wp-content/*

!/wp-content/themes/
/wp-content/themes/*

!/wp-content/themes/glue-example

!/wp-content/plugins/
/wp-content/plugins/*

!/wp-content/plugins/glue
